<!DOCTYPE html>
<html>
        <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
            <title>{{ title }}</title>
          {% else %}
            <title> No title specified</title>
        {% endif %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="static/style.css">
        </head>
  <body>
        <form action="{{ url_for_security('login') }}" method="post" name="login" class="login">
          {{ login_user_form.hidden_tag() }}
            <h1 class="text-center">Sign in</h1>

            <div class="form-group">
              <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      {{ login_user_form.email(placeholder='Email', class="form-control") }}

                </div>
            </div>
            {% if login_user_form.email.errors %}
               <ul class="errors">
                 {% for error in login_user_form.email.errors %}<li>{{ error }}</li>{% endfor %}
               </ul>
            {% endif %}

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      {{ login_user_form.password(placeholder = 'Password', class="form-control") }}
                </div>
            </div>
            {% if login_user_form.password.errors %}
               <ul class="errors">
                 {% for error in login_user_form.password.errors %}<li>{{ error }}</li>{% endfor %}
               </ul>
            {% endif %}

            <div class="form-group">
                {{ login_user_form.submit( class="btn btn-primary login-btn btn-block") }}
            </div>

            <div class="clearfix">
                {{ login_user_form.remember.label }} {{ login_user_form.remember }}
                <a href="#" class="pull-right">Forgot Password?</a>
            </div>
        </form>
        <p class="text-center text-muted small">Don't have an account? <a href="/register">Sign up here!</a></p>

  </body>
</html>
