
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img{
  display: block;
}
.delete{
  display: block;
  width: 150px;
}

h2{
	color: #2e6da4;
	font-size: 20px;
}

.login{
	margin: auto;
	width: 25%;
}

.profile h2,
.profile p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 28px;
    margin: 10px;

}

.change{
	width: 40%;
}


.topNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

.topNav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	text-decoration: none;
  background-color: #111;
}
.active {
  background-color: #2e6da4;
}
.blok{
	margin:30px;
}

img{
  max-width:150px;
  object-fit: cover;
  height:150px;
}

.col-sm-3{
	padding: 0;
}

.blok-body li a:hover{
	background-color: #4CAF50;
}

@media (max-width: 1100px ){
	.login{
		width: 80%;
	}

  .media h4{
    font-size: 14px;
  }
}

@media (max-width: 767px ){

	.change{
		margin: auto;
		width: 80%;
	}

	.nav{
		text-align: center;
	}

  .topNav li a {
    padding: 15px 5px;
  }

  .profile h2,
  .profile p {
    font-size: 14px;
  }

}

@media (max-width: 450px ){

  .media h4{
    font-size: 12px;
  }

  .media{
    margin: 0;
  }

  img{
    max-width:150px;
    object-fit: cover;
    height:100px;
  }

}
