<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ajax_js.js') }}" ></script>

    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title> No title specified</title>
    {% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='ajax_js.js') }}" ></script> -->
  </head>
  <body>
    <div class="topNav">
        <ul>
          <div class="container">
            <li><a href="/">Player list</a></li>
            <li><a href="/saved">Following</a></li>
            <li style="float:right"><a class="active" href="/logout">Logout</a></li>
            <li style="float:right"><a class="active" href="/profile">Settings</a></li>
          </div>
        </ul>
    </div>

      {% block content %}{% endblock %}
  </body>

</html>
