{% extends "base.html" %}
{% block content %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>

<div class="container">
  <h1>Active players</h1>
  <br />
  <p>Last voted for: {{session['vote']}}</p>
  <p>Last commented on: {{session['comment']}}</p>
  {% for query in profiles %}
    {% if query.name and query.surname and query.position %}
     <div class="well row">
        <div class="media col-xs-10">
        {% if query.img %}
    		<a class="pull-left" href="#">
      		<img class="" src="../static/photos/{{query.id}}">
    		</a>
        {% else %}
        <a class="pull-left" href="#">
          <img class="" src="../static/photos/206853.png">
        </a>
        {% endif %}




                  <!-- Modal -->
          <div class="modal fade" id="{{ query.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel"><b>{{query.name}} {{query.surname}}</b> Recomendations</h4>
                </div>
                <div class="modal-body">
                  {% for com in query.comments %}
                    <p><b>{{com.nameFrom}}</b></p>
                    <p>{{com.comment}}</p>
                    <hr>
                  {% endfor %}
                  <form action="" method="post" name="login">
                    {{ form.hidden_tag()}}
                      <h2 class="text-center">Write a comment</h2>

                      <div class="form-group">
                        <div class="input-group">
                                {{ form.text(id=query.id, placeholder = 'Comment', class="form-control",style="resize:none" ) }}
                      </div>
                      </div>
                   </form>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="{{query.id}}" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </div>

    		<div class="media-body">
      		<h4 class="media-heading"><nobr><b>{{query.name}} {{query.surname}}</b></nobr></h4>
            {% if query.position %}<h4 class="media-heading"><nobr><b>Position:</b> {{query.position}}</nobr></h4>{% endif %}
            {% if query.age %}<h4 class="media-heading"><nobr><b>Age:</b> {{query.age}}</nobr></h4>{% endif %}
            {% if query.team %}<h4 class="media-heading"><nobr><b>Team:</b> {{query.team}}</nobr></h4>{% endif %}
            {% if query.availible %}<h4 class="media-heading"><nobr><b>Availible from:</b> {{query.availible}}</nobr></h4>{% endif %}
            	<h4 class="media-heading">Endorsements:
              {% if session %}
              <a class="vote" id="{{ query.id }}">
                <i class="glyphicon glyphicon-hand-up" id="up"></i><span id="sup"> {{ query.endorsements }}</span></a>
              {% else %}
                <i class="glyphicon glyphicon-hand-up" id="up"></i><span id="sup"> {{ query.endorsements }}</span>
              {% endif %}
              </h4>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ query.id }}">
                Recomendations
              </button>
         </div>
       </div>
         <div class="w-100"></div>
       <div class="col-xs-2">
         <a class="save" id="{{query.id}}"><span>
         {% if query not in current_user.saved %}
           Follow
         {% else %}
           Unfollow
         {% endif %}
         </span></a>
       </div>
     </div>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
