{% extends "base.html" %}

{% block content %}

<h1> Change Password</h1>
<br />
<h2>
  <b>{{ msg }}</b>
</h2>
<form action="" method="post" name="change">
  {{ form.hidden_tag()}}
  <div class="change">

  <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            {{ form.password(placeholder = 'New password', class="form-control") }}
      </div>
  </div>

  {% if form.password.errors %}
     <ul class="errors">
       {% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}
     </ul>
  {% endif %}

  <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            {{ form.confirm(placeholder = 'Repeat new password', class="form-control") }}
      </div>
  </div>

  {% if form.confirm.errors %}
     <ul class="errors">
       {% for error in form.confirm.errors %}<li>{{ error }}</li>{% endfor %}
     </ul>
  {% endif %}

  <div class="form-group">
      <button type="submit" class="btn btn-primary login-btn btn-block">Change password</button>
  </div>
</div>
</form>


{% endblock %}
