{% extends "base.html" %}




{% block content %}

<section class="blok">
  <div class="row">
    <ul class="nav col-sm-3 nav-stacked">
      <li><a href="profile">Profile information</a></li>
      <li><a href="password">Change password</a></li>
    </ul>

    <div class="col-sm-9">
      <!-- if there are any messages, show them on the top of the screen -->
      {% with messages = get_flashed_messages() %}
        {% if messages and 'log' not in messages[-1] %}
            <h2>{{messages[-1]}}</h2>
        {% endif %}
      {% endwith %}
      <h1>Edit Profile</h1>
      <br />

        <form action="" method="post" name="change" enctype="multipart/form-data">
          {{ form.hidden_tag()}}
          <div class="col-sm-4">

            <div class="form-group">
                <h4>Upload Picture</h4>
                <div class="input-group">
                      {{ form.photo(class="") }}
                </div>
                <br />
                {% if form.name.errors %}
                   <ul class="errors">
                     {% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}
                   </ul>
                {% endif %}
                <h4>Name</h4>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      {{ form.name(placeholder = 'Name', class="form-control", value = current_user.name) }}
                </div>
                <br />

                {% if form.surname.errors %}
                   <ul class="errors">
                     {% for error in form.surname.errors %}<li>{{ error }}</li>{% endfor %}
                   </ul>
                {% endif %}

                <h4>Last Name</h4>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      {{ form.surname(placeholder = 'Last Name', class="form-control", value = current_user.surname) }}
                </div>
                <br />

                {% if form.age.errors %}
                   <ul class="errors">
                     {% for error in form.age.errors %}<li>{{ error }}</li>{% endfor %}
                   </ul>
                {% endif %}

                <h4>Age</h4>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                      {{ form.age(placeholder = 'Age', class="form-control", value = current_user.age) }}
                </div>
                <br />
                <h4>Position</h4>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-knight"></i></span>
                      {{ form.position(placeholder = 'Position', class="form-control", value = current_user.position) }}
                </div>
                <br />
                <h4>Current team</h4>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-fire"></i></span>
                      {{ form.team(placeholder = 'Current team', class="form-control",  value = current_user.team) }}
                </div>
                <br />
                <h4>Availible from</h4>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      {{ form.availible(placeholder = 'Availible from', class="form-control", value = current_user.availible) }}
                </div>
              </div>
                <button type="submit" class="save btn btn-primary login-btn btn-block" id="1">Save</button>
                <a href="/profile" class="save btn btn-primary">Cancel</a>
              </div>
          </div>
        </form>


      </div>
    </div>
</section>
{% endblock %}
