{% extends "base.html" %}




{% block content %}

<!-- TABS PRESENTATION -->
<section class="blok">

  <div class="row">
  <!-- Nav tabs -->
    <ul class="nav col-sm-3 nav-stacked">
      <li><a href="profile">Profile information</a></li>
      <li><a href="password">Change password</a></li>
    </ul>

    <div class="col-sm-9">
        {% if profile %}
          <h1>Profile</h1>
          <br /><br />
          <div class="">
          {% if current_user.img %}
          <a class="pull-left" href="#">
            <img class="" src="../static/photos/{{current_user.id}}">
          </a>
          <a class="delete" href="delete">Delete</a>
          {% else %}
          <a class="pull-left" href="#">
            <img class="" src="../static/photos/206853.png">
          </a>
          {% endif %}
        </div>
        <br />

          <div class="profile col-xs-5">
            <h2><b>Name:</b></h2>
            <h2><b>Surname:</b></h2>
            <h2><b>Age:</b></h2>
            <h2><b>Position:</b></h2>
            <h2><b>Team:</b></h2>
            <h2><b>Availible from:</b></h2>
            <a href="/edit"><button class="save btn btn-primary login-btn">Edit</button></a>
          </div>

          <div class="profile col-xs-3">

            {% for item in profile %}
              <p><nobr>{{item}}</nobr></p>
            {% endfor %}
            <br />

          </div>


        {% else %}
          <h1> Change Password</h1>
          <br />
          <h2>
            <b>{{ msg }}</b>
          </h2>
          <form action="" method="post" name="change">
            {{ form.hidden_tag()}}
            <div class="change">

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      {{ form.password(placeholder = 'New password', class="form-control") }}
                </div>
            </div>

            {% if form.password.errors %}
               <ul class="errors">
                 {% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}
               </ul>
            {% endif %}

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      {{ form.confirm(placeholder = 'Repeat new password', class="form-control") }}
                </div>
            </div>

            {% if form.confirm.errors %}
               <ul class="errors">
                 {% for error in form.confirm.errors %}<li>{{ error }}</li>{% endfor %}
               </ul>
            {% endif %}

            <div class="form-group">
                <button type="submit" class="btn btn-primary login-btn btn-block">Change password</button>
            </div>
          </div>
        </form>
      {% endif %}

  </div>

</div><!-- //row -->
</section>
{% endblock %}
